@font-face {
    font-family: "Figtree";
    src: url("./assets/fonts/static/Figtree-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Figtree";
    src: url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-display: swap;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: "Figtree", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    background-color: var(--yellow);
    color: var(--gray-950);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 327px;
    flex-shrink: 0;
    padding: 24px;
    gap: 24px;
    border: 1px solid var(--gray-950);
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 100%);

    @media (min-width: 600px) {
        width: 384px;
    }
}

.card-img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .tag {
        font-size: 12px;
        font-weight: 800;
        width: fit-content;
        padding: 4px 12px;
        background-color: var(--yellow);
        border-radius: 4px;
    }

    .date {
        font-size: 12px;

        @media (min-width: 600px) {
            font-size: 14px;
        }
    }

    h1.title {
        font-size: 20px;
        font-weight: 800;
        cursor: pointer;

        @media (min-width: 600px) {
            font-size: 24px;
        }

        &:hover {
            color: var(--yellow);
        }
    }

    .description {
        color: var(--gray-500);

        @media (min-width: 600px) {
            font-size: 16px;
        }
    }
}

.card-author {
    display: flex;
    align-items: center;
    gap: 12px;

    .avatar {
        width: 32px;
        height: 32px;
    }

    p.name {
        font-weight: 800;
    }
}
